@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

$accent-color: #fe6192;

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.background-image {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

.swiper {
  .swiper-wrapper {
    @media (max-width: 640px) {
      padding-bottom: 50px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction,
  .swiper-pagination {
    bottom: 20px;
    @media (max-width: 768px) {
      bottom: 0px;
    }
  }
}

.carousel-buttons {
  .swiper-button-next,
  .swiper-button-prev {
    z-index: 15;
    width: 50px;
    height: 50px;
    top: 30px;
  }
  .swiper-button-prev {
    left: -30%;
  }
  .swiper-button-next {
    left: 67%;
  }
}

@layer base {
  body {
    @apply overflow-hidden bg-secondary leading-relaxed;
  }
  .page {
    @apply h-screen w-full overflow-hidden;
  }
  .h1 {
    @apply mb-8 text-[35px] font-semibold leading-tight md:text-[60px] md:leading-[1.3];
  }
  .h2 {
    @apply mb-4 text-[35px] font-semibold leading-tight md:text-[54px] md:leading-[1.3];
  }
  p {
    @apply font-light leading-[1.8] text-white/60;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply h-[52px] w-full rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply border border-white/20 bg-transparent outline-none placeholder:font-light placeholder:text-white/30 focus:ring-1 focus:ring-accent;
  }
  .textarea {
    @apply h-[180px] w-full resize-none rounded-lg p-6 capitalize;
  }
}
